 body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }
        #controles {
            margin-bottom: 10px;
        }
        #hanoiCanvas {
            border: 2px solid #383434;
            background-color: #d3d1d1;
        }
        label {
            font-size: 1rem;
            margin-right: 8px;
        }
        input[type="number"] {
            width: 50px;
            padding: 4px;
        }
        button {
            padding: 6px 12px;
            font-size: 1rem;
            cursor: pointer;
        }