.header-title{
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    color: #1bcb7f;
    font-weight: bold;
}

.card-products-container {
    margin: 5vh auto;/*margen superior e inferior de 5vh y centrado horizontal*/
}

.card-products {
    text-align: center;
    display: flex; /*convierto en contenedor flexible. Permito a los elementos hijos posicionarse de manera flexible*/
    flex-direction: row; /*los elementos hijos se posicionan en fila(a medida que la pantalla se hace más chica)*/
    justify-content: space-around;/*los elementos hijos se distribuyen con espacio alrededor*/
    flex-wrap: wrap;
}

.card-products img{
    margin-top: 40px;
    width: 250px;
    height: 250px;
}

.card-products button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #1bcb7f;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

.card-products button:hover {
    opacity: 0.5;
}

/*card button*/
.cart-btn{
    position: fixed; 
    top: 90vh;
    right: 40px;
    background-color: rgb(25, 25, 25);
    padding: 10px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease-in-out;
}

.cart-btn:hover{
    cursor: pointer;
    opacity: 0.9;
}

.cart-counter {
    display: none; /*oculto el contador por defecto*/
    position: fixed;
    top: 89vh;
    right: 27px;
    color: #fff;
    text-align: center;
    background-color: #ed3434;
    padding: 4px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-size: 15px;

}

/*estilos del modal - en el index.html tengo la clase*/
.modal-overlay{
    display: none;/*oculto el overlay por defecto*/
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
/*en el index.html tengo la clase*/
.modal-container{
    display: none;/*oculto el modal por defecto*/
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 100%;
    z-index: 1;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

/*estilos del header del modal*/
.modal-close{
    float:right;
    cursor: pointer;
}

.modal-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/*modal-body del carrito*/
.modal-body{
    margin-bottom: 20px;
    text-align: center; 
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}
.product img{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.product-info{
    flex: 1;
    text-align: left;
}

.product-info h3{
    margin-top: 35px;
}
.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-right: 4em;
}

.quantity-btn-decrease, .quantity-btn-increase{
    background-color: #1bcb7f;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 30px;
    font-weight: bold;
    border: none;
    padding: 5px 5px 5px 10px;
}

.quantity-input{
    color: black;
    font-size: 16px;
    padding: 10 10px;
    text-align: center;
    width: 50px;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .products-img{
        display: none;
    }
    .modal-body{
        margin-left: 5px;
        margin-right: 5px ;
    }
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.delete-product{
    margin-top: 20px;
    margin-left: 2em;
    cursor: pointer;
}

.modal-footer{
    text-align: center;
}

.total-price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-primary{
    background-color: #1bcb7f;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.btn-primary:hover{
    background-color: #17a06b;
    border-color: #1bcb7f;
}