body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.tablero {
    display: grid;
    grid-template-columns: repeat(var(--N), 50px);
    grid-template-rows: repeat(var(--N), 50px);
    gap: 2px;
    margin: 20px auto;
    width: max-content;
}

.casilla {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 1px solid #000;
}

.blanco { background-color: #f0d9b5; }
.negro { background-color: #b58863; }

.reina {
    width: 40px;
    height: 40px;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Espacio entre imágenes y tablero */
    margin-top: 20px;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(var(--N), 50px);
    grid-template-rows: repeat(var(--N), 50px);
    gap: 2px;
    position: relative;
    z-index: 2;
}

.img {
    width:600px;
    height: auto;
    transition: opacity 0.5s ease-in-out;
}

.lado {
    z-index: 1;
}
